<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
	<meta charset="UTF-8">
	<title>Олимпик.ру ::Спортивное питание::</title>
	<link href="{% static 'mywebpage2/css/main.css' %}" rel="stylesheet">
</head>
<body>
	<header>

           <a href="#" id="reg" alt="Регистрация" >Регистрация</a>

		<div id="center">
            <a href="index.html">

            </a>
        </div>

		<nav>

		<ul class="nav">
			<li><a href="#">На гланую</a></li>
			<li><a href="#">Протеин</a></li>
			<li><a href="#">Креатин</a></li>
			<li><a href="#">L-карнитин</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
		</nav>
	</header>
	<main>
		
		<p>На данном сайте вы сможете найти спортивное питание по одним из самых выгодных цен в городе! Также оди из самых лучших тренеров помогут вам определится с выбором.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, hic modi quis? Suscipit consequatur perferendis saepe possimus commodi inventore exercitationem iste eveniet, magnam labore ab minus ratione ducimus voluptate in soluta ad quam eius. Unde, rerum veniam eos. Sed a, architecto natus eveniet maiores deleniti impedit, facere labore repudiandae optio nulla quos qui nostrum, eum soluta ratione ullam suscipit omnis cumque provident fugit et esse. Natus enim esse facere consequatur modi, adipisci ducimus dolorem nulla. Molestias blanditiis ratione, dicta ad cum tenetur ut quae. Facere saepe molestias quas, totam, et dolorem quod </p>
		<div class="table">
		<table class="table1">
		<thead>
			<tr>
				<th>Новости спорта</th>
			</tr>
		</thead>
		<tbody>	
			<tr>	
				<td>Новость1</td>
			</tr>
			<tr>
				<td>Новость2</td>
			</tr>
			<tr>
				<td>Новость3</td>
			</tr>
			<tr>
				<td>Новость4</td>
			</tr>
		</tbody>
		</table>


<!--*********************************************************************-->


		<table class="table2">
		<thead>
			<tr>
				<th>Скидки</th>
			</tr>
		</thead>
		<tbody>	
			<tr>	
				<td><del>Цена1</del> Цена1 New </td>
			</tr>
			<tr>
				<td><del>Цена2</del> Цена2 New</td>
			</tr>
			<tr>
				<td><del>Цена3</del> Цена3 New</td>
			</tr>
			<tr>
				<td><del>Цена4</del> Цена4 New</td>
			</tr>
		</tbody>
		</table>
        </div>

	</main>
	<footer>
				<div id="reclama">
<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=50521678&amp;from=informer"
target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/50521678/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="50521678" data-lang="ru" /></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter50521678 = new Ya.Metrika2({
                    id:50521678,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/50521678" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
		</div>
	</footer>
</body>
</html>